@import ./lib/mixins
@import ./lib/grid
@import ./lib/reset
@import ./lib/svgfont

+font('Quasimoda', 'Quasimoda-Regular', 400)
+font('Quasimoda', 'Quasimoda-Italic', 400, italic)
+font('Quasimoda', 'Quasimoda-Bold', 700)
+font('Quasimoda', 'Quasimoda-BoldItalic', 700, italic)
+font('TenorSans', 'TenorSans', 400)

=tenor
  font-family: 'TenorSans'

$primary-color: #c2b179
$primary-text-color: #c0b07c
$primary-text-2-color: #c4b277

$text-color: #646363
$text-dark-color: #3d3d3d

$text-size: 14px
$text-font: 400 #{$text-size}/1.2 'Quasimoda', Georgia, 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif

=maxMobile
  +r(319)
    @content

=minMobile
  +rm(320)
    @content

=maxTablet
  +r(767)
    @content

=minTablet
  +rm(768)
    @content

=maxDescop
  +r(1023)
    @content

=minDescop
  +rm(1024)
    @content

=minWideDescop
  +rm(1400)
    @content

=vertical-gradient
  background-color: #c1b07a
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%)
=hor-gradient
  transform: rotate(-180deg)
  background-color: #c1b07a
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%)

.left-top-border-descop
  position: relative
  &::before
    content: ''
    display: block
    position: absolute
    left: 0
    top: 0

  +maxDescop
    &::before
      height: 100%
      width: 1px
      +vertical-gradient
  +minDescop
    &::before
      height: 1px
      width: 100%
      +hor-gradient

.left-border-descop
  position: relative
  &::before
    content: ''
    display: block
    position: absolute
    left: 0
    top: 0

  +minDescop
    &::before
      weight: 1px
      height: 100%
      +hor-gradient

.descop-border-right
  position: relative
  display: none
  +minDescop
    display: block

  &::after
    content: ''
    display: block
    position: absolute
    height: 100%
    width: 1px
    right: 0
    top: 0
    background-color: #c1b07a

.pixel-perfect
  background-position: 0 0
  background-repeat: no-repeat
  opacity: 0.4
  left: 0
  top: 0
  width: 1600px
  height: 1912px
  min-height: 100%
  position: absolute
  pointer-events: none
  z-index: 1000

body
  font: $text-font
  color: $text-color
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.wrap
  max-width: 1600px
  margin: 0 auto

.in
  padding-left: 25px
  padding-right: 25px
  +minDescop
    padding-left: 0
    padding-right: 0

.in-big
  padding-left: 40px
  padding-right: 40px
  +minDescop
    padding-left: 0
    padding-right: 0

.disable-scroll
  +maxDescop
    position: fixed
    width: 100%
    overflow: hidden
    height: 100vh

=gradient-text
  color: $primary-text-color
  background-image: linear-gradient(225deg, #ffecac 0%, #c4b277 100%)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent

=gradient-text-simple
  color: $primary-text-color
  background:  linear-gradient(90deg, #c0b07c 0%, #c6b373 50%, #ccb56b 100%)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent


@import ./components/hamb
@import ./components/header
@import ./components/slider
@import ./components/footer
@import ./components/with-signature

.text-title
  +tenor

  color: #c0b07c
  font-size: 20px
  line-height: 24px
  letter-spacing: 0.86px

  +minTablet
    font-size: 22px

  text-transform: uppercase
  text-align: center

.text-subtitle
  +gradient-text-simple
  +tenor

  text-transform: uppercase
  font-size: 20px
  letter-spacing: 0.86px

  +minTablet
    font-size: 22px

.breadcrumbs
  display: block
  &__item
    display: inline-block
    text-transform: uppercase
    font-size: 12px
    color: $text-dark-color
    position: relative
    padding-left: 50px

    &_active
      color: #ccb56c

    &::before
      content: ''
      display: block
      position: absolute
      width: 30px
      height: 1px
      background-color: #c1b17b
      left: 10px
      top: 6px
      margin-right: 10px

    &:first-child
      padding-left: 0
      &::before
        display: none

@import ./blocks/index
@import ./blocks/quotation-block
@import ./blocks/collection-page
@import ./blocks/card-page
@import ./blocks/contact-page
@import ./blocks/about-page
