@import ./lib/mixins
@import ./lib/reset
@import ./lib/svgfont

+font('Quasimoda', 'Quasimoda-Regular', 400)
+font('Quasimoda', 'Quasimoda-Italic', 400, italic)
+font('Quasimoda', 'Quasimoda-Bold', 700)
+font('Quasimoda', 'Quasimoda-BoldItalic', 700, italic)
+font('TenorSans', 'TenorSans', 400)

=tenor
  font-family: 'TenorSans'

$primary-color: #c2b179
$primary-text-color: #c0b07c
$primary-text-2-color: #c4b277

$text-color: #646363
$text-dark-color: #3d3d3d

$text-size: 14px
$text-font: 400 #{$text-size}/1.2 'Quasimoda', Georgia, 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif

=maxMobile
  +r(320)
    @content

=mobile
  +rm(320)
    @content

=maxTablet
  +r(768)
    @content

=tablet
  +rm(769)
    @content

=maxDescop
  +r(1024)
    @content

=descop
  +rm(1025)
    @content


.pixel-perfect
  background-position: 0 0
  background-repeat: no-repeat
  opacity: 0.4
  left: 0
  top: 0
  width: 1600px
  height: 1912px
  min-height: 100%
  position: absolute
  pointer-events: none
  z-index: 1000

body
  font: $text-font
  color: $text-color
  letter-spacing: 0.86px
  max-width: 1600px
  margin: 0 auto
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.disable-scroll
  overflow: hidden

=gradient-text
  // color: $primary-color
  background:  linear-gradient(90deg, #c0b07c 0%, #c6b373 50%, #ccb56b 100%)
  // , -webkit-linear-gradient(60deg, #ffecac, #c4b277)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent

=gradient-text-simple
  color: $primary-text-color
  background:  linear-gradient(90deg, #c0b07c 0%, #c6b373 50%, #ccb56b 100%)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent


@import ./components/hamb
@import ./components/header
@import ./components/slider
@import ./components/footer
@import ./components/with-signature

.text-title
  +gradient-text-simple
  +tenor

  font-size: 18px

  +tablet
    font-size: 22px
  letter-spacing: 0.61px
  text-transform: uppercase
  text-align: center

.section-title
  +gradient-text-simple
  +tenor

  font-size: 22px
  text-transform: uppercase

.breadcrumbs
  display: block
  &__item
    display: inline-block
    text-transform: uppercase
    font-size: 12px
    color: $text-dark-color
    position: relative
    padding-left: 50px

    &_active
      color: #ccb56c

    &::before
      content: ''
      display: block
      position: absolute
      width: 30px
      height: 1px
      background-color: #c1b17b
      left: 10px
      top: 6px
      margin-right: 10px

    &:first-child
      padding-left: 0
      &::before
        display: none

@import ./blocks/index
@import ./blocks/quotation-block
@import ./blocks/collection-page
@import ./blocks/card-page
@import ./blocks/contact-page
@import ./blocks/about-page
