extends ../layouts/main

block content
  include ../partials/header
  div.card-page: .row: .col-xs-12.col-lg-10.col-lg-offset-1
    .card-page__breadcrumbs
      div.breadcrumbs
        a.breadcrumbs__item(href="/collection.html") Collections
        a.breadcrumbs__item.breadcrumbs__item_active(href="/card.html") PICTOR I
    .card-page__item: .card-item-block
      .card-item-block__gallery: .gallery
        .gallery__image: .gallery-image
          .gallery-image__images
            .gallery-image__image: img(src="https://picsum.photos/g/800/600")
            .gallery-image__image: img(src="https://picsum.photos/g/800/600")
              
          .gallery-image__arrows
            a.gallery-image__arrow-left(href="#arrow-left")
            a.gallery-image__arrow-right(href="#arrow-right")
        .gallery__previews: .gallery-previews
          a.gallery-previews__item(href="#preview-1"): img(src="https://picsum.photos/g/100/100")
          a.gallery-previews__item(href="#preview-2"): img(src="https://picsum.photos/g/100/100")
      .card-item-block__description
          .card-info
            .text-subtitle PICTOR I
            .text
              p This PICTOR I armchair looks marvelous in any open space – in fact it's a joy to view not only face-on, but also from behind. Its unusual combination of fabrics and textures achieve a trompe l'œil effect, making you want to sense its appearance in a truly tactile way. The perfect synergy of these textures with the wood-grain taken on the 'cut' line is no mere coincidence – but the result of the cabinetmaker's skilled mastery.
          .card-sizes
            p Height&nbsp;&nbsp;—&nbsp;&nbsp;480 mm
            p Width&nbsp;&nbsp;&nbsp;—&nbsp;&nbsp;575 mm
            p Depth&nbsp;&nbsp;&nbsp;—&nbsp;&nbsp;858 mm
            
    .card-page__other-products
      .text-title Other products
      .other-products
        a.other-products__item(href="/card.html#product-1"): img(src="https://picsum.photos/g/600/600")
        a.other-products__item(href="/card.html#product-2"): img(src="https://picsum.photos/g/600/600")
        a.other-products__item(href="/card.html#product-3"): img(src="https://picsum.photos/g/600/600")
  include ../partials/footer
