extends ../layouts/main

block variables
  - var page = 'collection'

block content
  .quotation-block
    .text CONVINCE THE WORLD THAT THERE MAY BE, THERE ARE, THINGS MORE PRECIOUS, MORE BEAUTIFUL, MORE LASTING THAN LIFE ITSELF
    .author Charles Rennie Mackintosh
  .row: .col-xs-12.col-lg-10.col-lg-offset-1: article.collection-page
    .collection-page__categories
      .categories-block
        .text-subtitle Categories
        ul.list
          each val, index in ['Armchair', 'Cabinet', 'Casket', 'Chair', 'Chandelier', 'Console', 'Floor lamp', 'Mirror', 'Night table', 'Pouffe', 'Sofa', 'Table', 'Table lamp', 'Vase', 'Wall light']
            li: a(href="#")=val
    .collection-page__gallery
      .collection-gallery
        a.item(href="/card.html").item_doubled: img(src="https://picsum.photos/g/704/342")
        a.item(href="/card.html"): img(src="https://picsum.photos/g/342/342")
        a.item(href="/card.html"): img(src="https://picsum.photos/g/342/342")
        a.item(href="/card.html"): img(src="https://picsum.photos/g/342/342")
        a.item(href="/card.html"): img(src="https://picsum.photos/g/342/342")
        a.item(href="/card.html"): img(src="https://picsum.photos/g/342/342")
        a.item(href="/card.html"): img(src="https://picsum.photos/g/342/342")
        a.item(href="/card.html"): img(src="https://picsum.photos/g/342/342")
      .collection-page__loader
        .collection-gallery-loader
          img(src="/img/loader@2x.png")
