extends ../layouts/main

block content
  include ../partials/header
  article.contact-page: .row
    .col-xs-12.col-lg-5.col-lg-offset-1: .contact-page__right
      .with-signature
        img(src="https://picsum.photos/g/966/609")
        .signature
    .col-xs-12.col-lg-4.col-lg-offset-1.first-lg: .contact-page__left
      .contact-page__contacts
        .text-subtitle Contact
        p
          b General enquiries
          br
          | Phone: +44 (0) 7504 256049
          br
          | Email: info@oa-london.com
        p
          b Sales enquiries
          br
          | Email: bruno@olegklodt.com
      .contact-page__press
        p
          b Press / marketing enquiries
          br
          | Email: anastasia@@olegklodt.com
  include ../partials/footer
