extends ../layouts/main

block variables
  - var designName = '1.0 Main — Klodt.png'
block content
  include ../partials/header
  include ../partials/slider
  
  article.index-block
    .index-block__header
      .text-title O&A LONDON DESIGNER FURNITURE COLLECTION
      p Survey Shows Two Thirds Of Migraine Sufferers Dissatisfied
    .index-block__gallery.index-gallery: .row
      .col-xs-12.col-md-5.col-md-offset-1: a.index-gallery__item(href="/card.html#item")
        img(src="/img/products/meissa.png", alt="Meissa")
        .text Meissa
      .col-xs-12.col-md-5: a.index-gallery__item(href="/card.html#item")
        img(src="/img/products/metallah.png", alt="Metallah")
        .text Metallah
  include ../partials/footer
