
.card-page
  padding-bottom: 45px

  +minTablet
    padding: 0 25px 45px

  +minDescop
    padding: 0

  &__breadcrumbs
    display: none
    padding: 40px 0 30px

    +minTablet
      display: block

  &__item

  &__other-products
    margin-top: 84px
    padding: 0 25px


    +minTablet
      padding: 0
      padding-bottom: 100px

    +minDescop
      margin-top: 150px

    .other-products
      margin-top: 30px

      +minTablet
        margin-top: 50px

.card-item-block

  +minTablet
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    align-items: top
    padding-bottom: 110px

  &__gallery
    +minTablet
      overflow: hidden
      flex: 1 1 auto

  &__description
    padding: 0 25px
    margin-top: 44px

    +minTablet
      margin-top: 0
      margin-left: 50px
      flex: 0 0 auto
      width: 270px
      padding: 0 30px 5px 0
      display: flex
      flex-direction: column
      wrap: nowrap

      .card-info
        flex: 1 1 auto
      .card-sizes
        flex: 0 0 auto

  .gallery-previews
    display: none
    +minTablet
      display: block
      position: absolute



.gallery
  font-size: 0
  &__image
  &__previews
    margin-top: 10px
  &__slider-indicator
    font-size: 14px
    padding: 10px 0
    text-align: center


.gallery-image
  position: relative

  &__images
    width: 100%
    font-size: 0
    position: relative
    z-index: 0
    img
      width: 100%

  &__arrows
    position: absolute
    top: 50%
    margin-top: -15px
    font-size: 30px
    color: #b29d5c
    z-index: 2
    left: 30px
    right: 30px
    height: 30px
    display: none

    +minTablet
      display: block

    &_outside
      left: -50px
      right: -50px

    &_thin
      .gallery-image__arrow-left,
      .gallery-image__arrow-right
        @extend .icon-thin-carret-right

  &__arrow-left,
  &__arrow-right
    @extend .icon
    @extend .icon-arrow-right
    color: inherit
    display: inline-block
    position: absolute
    top: 0

  &__arrow-left
    transform: rotate(180deg)
    left: 0
  &__arrow-right
    right: 0


.gallery-previews
  margin-left: -10px
  margin-top: -10px
  &__item
    display: inline-block
    width: 100px
    height: 100px
    margin-left: 10px
    margin-top: 10px
    opacity: 0.3

    &.active
      opacity: 1

.card-info
  padding: 0 15px
  +minTablet
    padding: 0

  .text-subtitle
    margin-bottom: 24px
    +minTablet
      margin-bottom: 20px
  .text
    line-height: 24px
    letter-spacing: 0

.card-sizes
  position: relative
  padding: 0 15px

  +minTablet
    padding: 0

  padding-top: 30px
  margin-top: 30px

  font-weight: bold
  letter-spacing: 0
  line-height: 24px

  &::before
    content: ''
    display: block
    width: 100%
    top: 0
    left: 0
    height: 1px
    background: #c1b07a
    background-image: linear-gradient(-180deg, rgba(255,255,255,0.25) 0%, rgba(0,0,0,0.25) 100%)
    margin-bottom: 20px

.other-products
  font-size: 0
  line-height: 0
  margin: -5px
  +minTablet
    margin: -10px

  &__item
    display: inline-block
    vertical-align: top
    overflow: hidden

    width: 50%
    padding: 5px

    +minTablet
      width: 33.33%
      padding: 10px

    &:nth-child(3n+3)
      display: none

    +minTablet
      &:nth-child(3)
        display: inline-block

    img
      width: 100%
