.quotation-block
  text-align: center
  max-width: 637px
  padding-top: 80px
  padding-bottom: 80px
  position: relative
  margin: 36px auto 56px


  &::before,
  &::after
    content: ''
    position: absolute
    left: 50%
    margin-left: -1px
    display: block
    width: 1px
    height: 60px
    background: #C1B07A
    background-image: linear-gradient(0deg, rgba(255,255,255,0.25) 0%, rgba(0,0,0,0.25) 100%)

  &::after
    top: 0
  &::before
    bottom: 0

  .text
    display: inline-block
    +tenor
    font-size: 30px
    color: $primary-text-color
    line-height: 40px
    max-width: 637px
    text-align: justify
    &::before
      content: '°°       '
    &::after
      content: '       °°'
      white-space: nowrap
  .author
    display: inline-block
    font-weight: bold
    color: #c5b275
    letter-spacing: 0
    line-height: 24px
    margin-top: 14px
