footer.footer
  .row: .col-xs-12.col-sm-10.col-sm-offset-1: .footer__in
    .footer-socials
      a.footer-socials__item(href="#pinterest")
        i.icon.icon-pinterest-logo
        | Pinterest
      a.footer-socials__item(href="#facebook")
        i.icon.icon-facebook-logo
        | Facebook
      a.footer-socials__item(href="#instagram")
        i.icon.icon-instagram-logo
        | Instagram
    .footer-contacts
      a.tel(href="tel:4407326882146") +44 07326 882146
      a.email(href="mailto:erick.osinski@raheem.biz") erick.osinski@raheem.biz
      a.heart(href="#heart"): i.icon.icon-love
