header.header: .row: .col-xs-12.col-lg-10.col-lg-offset-1
  .nav-submenu-backdrop
  .header__in
    nav.nav
      .nav__center
        a.nav__logo(href="/")
          img(src="/img/svg/logo.svg", alt="O&A logo")
      .nav__menu
        .nav__hamb
          .hamb
            span
            span
            span
        .nav__menu__items
          .nav__left
            if (page === 'home')
              .nav__item.nav__item_active: a(href="/index.html") Home
            else
              .nav__item: a(href="/index.html") Home
            if (page === 'about')
              .nav__item.nav__item_active: a(href="/about.html") About
            else
              .nav__item: a(href="/about.html") About
          .nav__right
            if (page === 'collection')
              .nav__item.nav__item_active.nav__item_with-submenu
                a(href="/collection.html") Collection
                include ./collection-submenu
            else
              .nav__item.nav__item_with-submenu
                a(href="/collection.html") Collection
                include ./collection-submenu
                
            if (page === 'contact')
              .nav__item.nav__item_active: a(href="/contact.html") Contact
            else
              .nav__item: a(href="/contact.html") Contact
