header.header: .row: .col-xs-12.col-lg-10.col-lg-offset-1
  .header__in
    nav.nav
      .nav__center
        a.nav__logo
          img(src="/img/svg/logo.svg", alt="O&A logo")
      .nav__menu
        .nav__hamb
          .hamb
            span
            span
            span
        .nav__menu__items
          .nav__left
            .nav__item.nav__item_active: a(href="/index.html") Home
            .nav__item: a(href="/about.html") About
          .nav__right
            .nav__item.nav__item_with-submenu
              a(href="/collection.html") Collection
              .nav__submenu
                .nav__submenu__backdrop
                .nav__submenu__in
                  .nav__submenu__column
                    .nav__submenu-item: a(href="/collection.html#all") All
                    .nav__submenu-item: a(href="/collection.html#armchair") Armchair
                    .nav__submenu-item: a(href="/collection.html#cabinet") Cabinet
                    .nav__submenu-item: a(href="/collection.html#casket") Casket
                    .nav__submenu-item: a(href="/collection.html#chair") Chair
                    .nav__submenu-item: a(href="/collection.html#chandelier") Chandelier
                  .nav__submenu__column
                    .nav__submenu-item: a(href="/collection.html#console") Console
                    .nav__submenu-item: a(href="/collection.html#floor-lamp") Floor lamp
                    .nav__submenu-item: a(href="/collection.html#mirror") Mirror
                    .nav__submenu-item: a(href="/collection.html#night-table") Night table
                    .nav__submenu-item: a(href="/collection.html#pouffe") Pouffe
                  .nav__submenu__column
                    .nav__submenu-item: a(href="/collection.html#sofa") Sofa
                    .nav__submenu-item: a(href="/collection.html#table") Table
                    .nav__submenu-item: a(href="/collection.html#table-lamp") Table lamp
                    .nav__submenu-item: a(href="/collection.html#vase") Vase
                    .nav__submenu-item: a(href="/collection.html#wall-light") Wall light
                  .nav__submenu__column
                    .nav__submenu-item: a(href="/collection.html#armchair") Armchair
                    .nav__submenu-item: a(href="/collection.html#cabinet") Cabinet
                    .nav__submenu-item: a(href="/collection.html#casket") Casket
                    .nav__submenu-item: a(href="/collection.html#chair") Chair
                    .nav__submenu-item: a(href="/collection.html#chandelier") Chandelier
                
            .nav__item: a(href="/contact.html") Contact
