header.header
  .header__in
    nav.nav
      .nav__center
        a.nav__logo
          img(src="/img/svg/logo.svg", alt="O&A logo")
      .nav__left
        a.nav__item.nav__item_active(href="/index.html") Home
        a.nav__item(href="/about.html") About
      .nav__right
        a.nav__item(href="/collection.html") Collection
        a.nav__item(href="/contact.html") Contact
