.slider
  .slider__items
    .slider__item
      .image
        img(src="https://picsum.photos/g/1600/700")
      .text
        | O&A LONDON DESIGNER
        br 
        | FURNITURE COLLECTION
        br
        | FROM THE OLEG KLODT
        br
        | ARCHITECTURAL STUDIO
      a.button(href="#see-more") See more&nbsp;
        i.icon.icon-carret-right
  ul.slider__dots
    li.active
    li
    li
    li
