
.footer
  @extend .in

  &__in

    border-top: 1px solid #c4b176
    padding-bottom: 35px

    +minDescop
      padding-top: 50px
      padding-bottom: 80px

  .footer__in
    text-align: center

  +minDescop
    .footer__in
      display: table
      width: 100%

    .footer-socials,
    .footer-contacts
      display: table-cell

    .footer-contacts
      text-align: right
      margin-top: 0

  .footer-socials
    +minDescop
      margin-left: -20px
    +minDescop
      margin-left: -40px

.footer-socials
  display: block

  +maxDescop
    text-align: center

  +minDescop
    text-align: left
    .footer-socials__item:first-child
      margin-left: 0

  &__item
    display: inline-block
    font-size: 12px
    color: $text-dark-color
    white-space: nowrap
    text-decoration: underline

    +maxDescop
      width: 100%
      margin-top: 36px

    +minDescop
      margin-top: 10px
      margin-left: 40px

    .icon
      vertical-align: middle
      margin-right: 10px
    .icon-pinterest-logo
      font-size: 25px
    .icon-facebook-logo
      font-size: 21px
    .icon-instagram-logo
      font-size: 22px

.footer-contacts
  font-size: 12px
  color: $text-dark-color
  text-align: center

  a
    color: inherit

  .tel
    text-decoration: underline
  .heart
    color: $primary-text-2-color
    font-size: 8px
    visibility: bottom
    line-height: 1
    margin-right: 7px

  .tel,
  .email,
  .heart
    white-space: nowrap
    display: block

    +maxDescop
      margin-top: 36px

    +minDescop
      display: inline-block
      margin-left: 40px
