
.header
  text-align: center
  position: relative
  background-color: white
  line-height: 0

  &__in
    box-shadow: 0 1px 0 #c4b176

.nav
  display: inline-block

  &__left,
  &__right
    line-height: 1.7

  &__item
    display: block
    vertical-align: top
    cursor: pointer

    & > a
      display: inline-block
      color: $text-dark-color
      text-transform: uppercase
      margin-top: 14px

    &_active > a
      color: $primary-color

  &__logo
    font-size: 0
    line-height: 0
    &, a
      display: inline-block

+maxTablet
  .header__in
    padding: 11px 0 10px
    height: 55px

  .nav__logo img
    width: 55px
    height: 34px
  .nav__hamb
    position: absolute
    left: 20px
    top: 21px

  .nav__menu__items
    display: none

  .nav__submenu:last-child
    margin-bottom: 30px

  .nav__item
    font-size: 20px

  .nav__submenu
    display: none

  .nav_active .nav__item_active .nav__submenu
    display: block

  .nav__submenu-item
    margin-top: 20px
    & > a
      color: #515050
      font-size: 20px
      font-weight: 400

  .nav_active
    .nav__menu__items
      display: block
    .nav__menu
      display: block
      opacity: 1
      font-size: 20px
      padding-top: 185px
      position: absolute
      height: 100vh
      top: 0
      left: 0
      width: 100%
      background: white
      z-index: 999
      overflow-y: auto
      padding-bottom: 100px

    .nav__center
      opacity: 0
    .nav__hamb
      position: fixed

  .nav__item_with-submenu.nav__item_active > a
    color: $text-color
    font-weight: bold


+minTablet
  .header
    padding: 0 133px
  .header__in
    padding: 16px 0 15px
    height: 80px

  .nav__logo img
    width: 80px
    height: 49px

  .nav__hamb
    display: none

  .nav__left,
  .nav__right
    display: block
    position: absolute
    top: 16px
    width: 50%

  .nav__left
    right: 50%
    text-align: right
    padding-right: 85px

  .nav__right
    left: 50%
    text-align: left
    padding-left: 85px

  .nav__item
    display: inline-block
    padding: 0 30px
    font-size: 12px

  .nav__submenu-item > a
    color: $text-color
    font-size: 13px
    font-weight: 400

  .nav__submenu
    display: none
    position: fixed
    width: 100%
    background: white
    left: 0
    right: 0
    top: 79px
    z-index: 100

    .nav__submenu__in
      position: relative
      display: flex
      flex-direction: row
      flex-wrap: nowrap
      justify-content: space-around
      max-width: 1333px
      margin: 0 auto
      padding: 26px 0 53px
      border-bottom: 1px solid #c4b176

  .nav__submenu__column
    flex: 0 0 auto

  .nav__item_active .nav__submenu
    display: block

+minDescop
  .nav .nav__item
    padding: 0 45px
