block variables

doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title O&A - London designer furniture collection from the Oleg Klodt architectural studio

    //
      <link rel="icon" href="/img/favicon.ico?v=2" type="image/x-icon">
      <link rel="shortcut icon" href="/img/favicon.ico?v=2" type="image/x-icon">
      <meta property="og:image" content="/img/icons/apple-icon-180x180.png">
    meta(name='format-detection', content='telephone=no')
    meta(name='theme-color', content='#fff')
    meta(name='description', content='London designer furniture collection from the Oleg Klodt architectural studio')
    block styles
      link(rel="stylesheet", type='text/css', href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css")
      link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css')
      link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css')
      link(rel='stylesheet', media='all', href='/css/style.css')

    block scripts
      script(type='text/javascript', src='/js/app.js')
  body
    //- .pixel-perfect(style="background-image: url('/img/design/#{designName}')")
    block content
